<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/quizpage.css">
    <script src="../static/quizpage.js"></script>

    <title>Attempting Quiz</title>
  </head>
  <body>
    

    <h3>You are solving quiz <b><i>{{topic}}</i></b> in Course <b><i>{{course}}</i></b> </h3>
    <br>
    <hr>
    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <div id="QuestionPaper">
        <div id="QuizCarousel" class="carousel slide" data-interval="false" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                Welcome to the Quiz! Here are some general instructions for you to attempt the quiz. <br>
                <b>Course: </b>{{ course }}<br>
                <b>Quiz Name: </b>{{ topic }}<br>
                <b>Description: </b>{{ description}}<br>
            </div>
            {% set count = namespace(value=1) %}
            {% for question in questions %}
            <div class="carousel-item" >
                    <div class="row">
                        <div class="col-sm-6">
                            <b>Question {{ count.value }}</b><br><br>
                            <textarea id='textarea' rows="10" cols="60" disabled>{{ question.question }}</textarea>
                            <br><br>
                        </div>
                        <div class="col-sm-6" style="max-width: 400px;">
                            <br><br><br>
                            <b>(A)</b>{{ question.choice_a }}<br>
                            <b>(B)</b>{{ question.choice_b }}<br>
                            <b>(C)</b>{{ question.choice_c }}<br>
                            <b>(D)</b>{{ question.choice_d }}<br>
                            <b>(E)</b>{{ question.choice_e }}<br>
                        </div>
                    <br>
                    <br>
                    {% set count.value=count.value+1 %}
                </div>
            </div>


            {% endfor %}
            
            </div>
            <a class="carousel-control-prev" href="#QuizCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#QuizCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>

        <br><br><hr><br>
        <div class="container">
        <h4>Enter your answers here:</h4><br>

        <form method="POST" action="./action_quizcomplete">
            Name: <input type="text" autocomplete="off" class="form-control" name="stud_name"><br>
            Total number of questions: <b>{{ count.value-1 }}</b> <input type="hidden" name="tot_qs" value="{{ count.value-1 }}"><br>
            <input type="hidden" name="course" value="{{ course }}">
            <input type="hidden" name="topic" value="{{ topic}}">
            <input type="hidden" name="description" value="{{ description }}">
            <input type="hidden" name="account" value="{{ account }}">
            <br>
            {% set counter = namespace(value=1) %}
            {% for question in questions %}
        
                    <div class="row">
                        <b>{{counter.value}}. </b>
                        <div class="col-sm-1">
                            <input type="radio" name="ans_{{counter.value}}" value="a">
                            <label for="a">A</label>
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" name="ans_{{counter.value}}" value="b">
                            <label for="a">B</label>
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" name="ans_{{counter.value}}" value="c">
                            <label for="a">C</label>
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" name="ans_{{counter.value}}" value="d">
                            <label for="a">D</label>
                        </div>
                        <div class="col-sm-1">
                            <input type="radio" name="ans_{{counter.value}}" value="e">
                            <label for="a">E</label>
                        </div>
                    </div>
                    <br>
                    

                    <input type="hidden" name="correct_{{counter.value}}" value={{question.answer}}>
                    {% set counter.value=counter.value+1 %}
                    

            {% endfor %}<br>
            <br><hr>
            <input type="submit" value="Submit" >
        </form>

        </div>
    </div><!--end Question Paper-->
    


</body>
</html>